Django==2.0.7
django-cors-headers==2.4.0
django-pyodbc-azure==2.0.6.1
django-request==1.5.4
django-request-logging==0.6.5
django-sslserver==0.20
djangorestframework==3.7.7
djangorestframework-xml==1.3.0
asn1crypto==0.24.0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
cryptography==2.7
django-microsoft-auth==2.3.1
idna==2.8
oauthlib==3.1.0
pycparser==2.19
PyJWT==1.7.1
pytz==2019.2
requests==2.22.0
requests-oauthlib==1.2.0
six==1.12.0
sqlparse==0.3.0
urllib3==1.25.3
azure-applicationinsights==0.1.0
azure-common==1.1.23
azure-cosmosdb-nspkg==2.0.2
azure-cosmosdb-table==1.0.5
azure-datalake-store==0.0.47
azure-eventgrid==1.3.0
azure-graphrbac==0.40.0
azure-keyvault==1.1.0
azure-loganalytics==0.1.0
azure-mgmt-resource==3.1.0
azure-mgmt-storage==4.0.0
azure-nspkg==3.0.2
azure-servicebus==0.21.1
azure-servicefabric==6.3.0.0
azure-servicemanagement-legacy==0.20.6
azure-storage-blob==1.5.0
azure-storage-common==1.4.2
azure-storage-file==1.4.0
azure-storage-queue==1.4.0
